asgiref==3.4.1
astroid==2.4.2
attrs==19.3.0
autopep8==1.5.7
bleach==3.3.0
botocore==1.21.16
certifi==2020.4.5.1
chardet==3.0.4
chromedriver-py==81.0.4044.69
colorama==0.4.3
darkdetect==0.1.1
dj-database-url==0.5.0
Django==3.2.5
django-environ==0.4.5
django-heroku==0.3.1
django-markdown2==0.3.1
django-markdownify==0.8.0
django-storages==1.11.1
gunicorn==20.1.0
idna==2.9
isort==5.7.0
jellyfish==0.8.2
jmespath==0.10.0
Js2Py==0.68
lazy-object-proxy==1.4.3
lib50==1.1.11
lxml==4.5.0
Markdown==3.3.4
markdown2==2.4.0
mccabe==0.6.1
packaging==21.0
pexpect==4.8.0
Pillow==8.3.1
psycopg2==2.9.1
ptyprocess==0.7.0
pycodestyle==2.7.0
pycryptodome==3.4.3
pycryptodomex==3.9.7
pyjsparser==2.7.1
pylint==2.6.0
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
python-dateutil==2.8.2
python-decouple==3.4
pytz==2020.1
PyYAML==5.4.1
requests==2.23.0
s3transfer==0.5.0
selenium==3.141.0
six==1.14.0
sqlparse==0.4.1
submit50==3.0.0
termcolor==1.1.0
toml==0.10.2
tzlocal==2.1
urllib3==1.25.9
webencodings==0.5.1
whitenoise==5.3.0
wrapt==1.12.1
